.area-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#area {
    width: 300px;
    height: 300px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;
    margin-top: -300px;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    font-size: 34px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modal-result-wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
}

#modal-window {
    width: 250px;
    height: 100px;
    border: 1px solid black;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 150px));
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 19px;
}

#btn-close {
    width: 250px;
    height: 30px;
    background-color: green;
    color: black;
    text-align: center;
    cursor: pointer;
}